.avisos {
    display: flex;
    flex-direction: column;    
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        @extend .box;
        background-color: $theme-color-base;        
                
        &.important {
            background-color: $theme-important-color;
        }

        &.warning {
            background-color: $theme-warning-color;
        }
    }
}