$theme-color-base: blue;
$theme-important-color: darkblue;
$theme-warning-color: lightblue;

$theme-box_border-radius: 5px;
$theme-box_padding: 1rem 1rem 3rem 1rem;

%box-shadow {
    -webkit-box-shadow: 8px 10px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 13px 0px rgba(0,0,0,0.75);
}


$theme-alternative-font: inherit;